@* ResetPasswordConfirmation.cshtml *@
@{
    ViewData["Title"] = "Password Reset Successful";
}

<h2>Password Reset Successful</h2>
<p>Your password has been reset. You can now <a asp-controller="Login" asp-action="CreateLogin">Sign in</a>.</p>
